<div class='container text-light mw-1024'>
  <div class='text-light'>
    <%= form_for record do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <div>
        <%= f.fields_for :record_exercises do |record_exercise| %>
          <%= render 'record_exercise_fields', f: record_exercise %>
        <% end %>
      </div>
      <div class='row'>
        <div class='col-12 mx-auto record p-0'>
          <div class='record-form form' id='record_exercises'>
            <div class='links record-exercise-links'>
              <%= link_to_add_association '次の種目を追加', f, :record_exercises, class: 'add-exercise btn btn-block btn-royalgreen text-light' %>
            </div>
            <div class='form-group text-center mb-3'>
              <%= f.submit 'レコード登録', class: 'btn btn-block btn-royalgreen text-light' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
