<div class='nested-fields well well-compact'>
  <div class='form-group'>
    <%= f.label :exercise_id %>
    <%= f.select :exercise_id, @exercises.map{|e| [e.name, e.id]},
              include_blank: true,
              class: 'form-control',
              id: 'selectExercise' %>

    <%= link_to_remove_association 'remove record exercise', f %>
  </div>

  <div class='items'>
    <%= f.fields_for :exercise_details do |exercise_detail| %>
      <%= render 'exercise_detail_fields', f: exercise_detail %>
    <%end%>
    <div class='links'>
      <%= link_to_add_association 'add exercise detail', f, :exercise_details %>
    </div>
  </div>
</div>
