<% provide(:title, 'トレーナー申請') %>
<div class='container mw-1024'>
  <div class='row'>
    <div class='col-12 mx-auto record p-0'>
      <div class='record-index form text-fontgray'>
        <div class='row p-3 mx-auto'>
          <div class='col-12 mx-auto h-100 p-0'>
            <%= form_for @trainer_request, url: users_trainer_requests_path, html: { method: :post } do |f| %>
              <%= print_validation_errors(@trainer_request) %>
              <%= f.label 'メールアドレス' %>
              <%= f.email_field :email, class: 'form-control mb-3', required: true %>
              <%= f.submit 'あの人のトレーナーになる', class: 'btn btn-block mybtn btn-royalgreen text-light' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
