<% provide(:title, 'マイレコード') %>
<div class='container mw-1024'>
  <div class='row'>
    <div class='col-12 mx-auto record p-0'>
      <div class='record-index form pb-2'>
        <% @records.each do |record| %>
          <%= link_to users_record_path(record) do %>
            <div class='row bg-white p-3 record-row mx-auto'>
              <div class='col-2 mx-auto p-0 pt-1 text-royalgreen text-center record-row-day'>
                <%= record.created_at.strftime('%a').upcase %>
                <br>
                <span class='record-row-day-number'><%= record.created_at.strftime('%m.%d') %></span>
              </div>
              <div class='col-5 mx-auto p-0 pl-2 pt-2'>
                <ul class='m-0'>
                  <% get_record_exercises_limit = 3 %>
                  <% record.record_exercises.each_with_index do |record_exercise, i| %>
                    <% if i < get_record_exercises_limit %>
                      <li><%= "#{record_exercise.exercise.part.name} #{record_exercise.exercise.name}" %></li>
                    <% else %>
                      <li>etc</li>
                      <% break %>
                    <% end %>
                  <% end %>
                </ul>
              </div>
              <div class='col-3 mx-auto p-0 pr-2 pl-1 pt-1'>
                <% if @trainer && @trainer.icon_image.present? %>
                  <p class='text-fontgray text-center mb-0 record-trainer-title'>
                    トレーナー
                  </p>
                  <% if record.trainer_confirmed_at %>
                    <%= image_tag @trainer.icon_image_url(:small), class: 'rounded-circle trainer-image mx-auto d-block' %>
                  <% else %>
                    <div class='rounded-circle trainer-image mx-auto d-block trainer-not-confirm'>
                      <p class='text-light text-center mb-0 trainer-not-confirm-text'>
                        未読
                      </p>
                    </div>
                    <%= image_tag @trainer.icon_image_url(:small), class: 'rounded-circle trainer-image mx-auto d-block mono' %>
                  <% end %>
                  <p class='text-fontgray text-center mb-0 record-trainer-name'>
                    <%= @trainer.nickname %>
                  </p>
                <% else %>
                  <p class='text-fontgray text-center mb-0 record-trainer-title'>
                    トレーナー
                  </p>
                  <%= image_tag 'noimage.png', class: 'rounded-circle trainer-image mx-auto d-block mono' %>
                  <p class='text-fontgray text-center mb-0 record-trainer-name'>
                    未設定
                  </p>
                <% end %>
              </div>
              <div class='col-2 mx-auto p-0 pt-1 pl-1 text-center h-100 comment-icon'>
                <% if record.comments.any? %>
                  <div class='comment-icon-inner'>
                    <i class='fas fa-comment-alt text-royalgreen'></i>
                    <% if record.id.in?(@not_confirm_comment_exit_record || []) %>
                      <div class='not-confirm-comment-exit'>
                        <div class='bg-danger rounded-circle not-confirm-comment-exit-inner'>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% else %>
                  <i class='fas fa-comment-alt text-icongray'></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class='record-new rounded-circle bg-royalgreen'>
        <%= link_to new_users_record_path do %>
          <%= image_tag 'record-new.png', class: 'record-new-image mx-auto d-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
