<% provide(:title, 'マイレコード') %>
<div class='container mw-1024'>
  <div class='row'>
    <div class='col-12 mx-auto record p-0'>
      <div class='record-index form pb-2'>
        <% @records.each do |record| %>
          <%= link_to users_record_path(record) do %>
            <div class='row bg-white p-3 record-row mx-auto'>
              <div class='col-2 mx-auto p-0 pt-1 text-royalgreen text-center record-row-day'>
                <%= record.created_at.strftime('%a').upcase %>
                <br>
                <span class='record-row-day-number'><%= record.created_at.strftime('%m.%d') %></span>
              </div>
              <div class='col-5 mx-auto p-0 pl-2 pt-2'>
                <ul class='m-0'>
                  <% get_record_exercises_limit = 3 %>
                  <% record.record_exercises.each_with_index do |record_exercise, i| %>
                    <% if i < get_record_exercises_limit %>
                      <li><%= "#{record_exercise.exercise.part.name} #{record_exercise.exercise.name}" %></li>
                    <% else %>
                      <li>etc</li>
                      <% break %>
                    <% end %>
                  <% end %>
                </ul>
              </div>
              <div class='col-3 mx-auto p-0 pr-2 pl-1 pt-1'>
                <% if current_user.trainer&.icon_image %>
                  <%= image_tag current_user.trainer.icon_image_url(:small), class: 'rounded-circle trainer-image mx-auto d-block mono' %>
                <% else %>
                  <%= image_tag 'noimage.png', class: 'rounded-circle trainer-image mx-auto d-block mono' %>
                <% end %>
              </div>
              <div class='col-2 mx-auto p-0 pt-1 pl-1 text-center h-100 comment-icon'>
                <% if record.comments.any? %>
                  <i class='fas fa-comment-alt text-royalgreen'></i>
                <% else %>
                  <i class='fas fa-comment-alt text-icongray'></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class='record-new rounded-circle bg-royalgreen'>
        <%= link_to new_users_record_path do %>
          <%= image_tag 'record-new.png', class: 'record-new-image mx-auto d-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
